<!DOCTYPE html>
<html>
<head>
<title>برترین ها</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<meta charset="utf-8"/>
<style>
body {
	direction:rtl;
    font-size: 18px;
	font-family:tahoma;
}

#img1{
	direction:ltr;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<div class="header" style="direction:ltr;">

  <img  id ="img1" src="mo30.png" alt="mo30.ir" width="200" height=auto>
  
</div>

<ul>
  <li><a  href="index.html"><b>خانه</b></a></li>
  <li><a class="active" href="best.html">برترین ها</a></li>
  <li><a href="signin.html">ورود/ثبت نام</a></li>
</ul>

<h3>Sticky Navigation Bar Example</h3>
<p>The navbar will <strong>stick</strong> to the top when you reach its scroll position.</p>
<p><strong>Note:</strong> Internet Explorer, Edge 15 and earlier versions do not support sticky positioning. Safari requires a -webkit- prefix.</p>
<p>کاربر گرامی سلام 
شما به ایران سایت اولین سایت خدمات طراحی سایت ایران وارد شده اید. ایران سایت از سال 1379 خدمات نوین طراحی سایت را در ایران ارایه می کند. 

ما می کوشیم بهترین مشاوره را بصورتی که شما ترجیح می دهید به شما ارایه کنیم. 

شما می توانید بصورت تلفنی با تماس با خط ویژه ایران سایت 02188886450 با مشاورین ما در ارتباط باشید. 

همچنین می توانید بصورت تلفنی جهت حضور در شرکت و مشاوره حضوری با ما تماس بگیرید. 

در صورت تمایل به ارتباط از طریق ایمیل نیز می توانید از طریق قسمت ثبت درخواست توضیحات لازم را در مورد پروژه خود به ما اعلام کنید.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>

</body>
</html>
