<!DOCTYPE html>
<html>
<head>
<title>برترین ها</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<style>
body {
	direction:rtl;
    font-size: 18px;
	font-family:tahoma;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<div  id="d1" class="header" style="direction:ltr;">
  <img src="mo30.png" alt="mo30.ir" width="200" height=auto>
</div>

<ul>
  <li><a  href="index.html"><b>خانه</b></a></li>
  <li><a href="best.html">برترین ها</a></li>
  <li><a class="active" href="signin.html">ورود/ثبت نام</a></li>
</ul>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<div style="max-width:500px;margin-left:auto;margin-right:auto">
<form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-green w3-margin">
<h2 class="w3-center">عضویت</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="first" type="text" placeholder="نام">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="last" type="text" placeholder="نام کاربری">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="email" type="text" placeholder="ایمیل">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="password" type="password" placeholder="رمز">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="confirm" type="password" placeholder="تکرار رمز">
    </div>
</div>

<p class="w3-center">
<button class="w3-button w3-section w3-green w3-ripple"> ثبت </button>
</p>
</form>


</div>
</body>
</html>
